*{
    margin: 0;
    padding:0;
}
body{
    background-color:rgb(244, 247, 233);
}
.container{
    list-style-type:none;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(207, 103, 71);
    position: sticky;
    top: 0;
    z-index: 100;
}
.box{
    padding: 10px 40px;
    color: azure;
    font-size: larger;
}

p{
    font-size: 20px;
    display: flex;
    padding-left: 35px;
}
li{
    list-style-type: disc;
}
#p{
    font-size: 20px;
    padding-left: 35px;
}
.h{
    font-weight: bolder;
    font-size: 30px;
    color: brown;
    padding: 10px 35px;
    margin: 5px;
}
table{
    width: 60%;
    border: 2px solid black;
    border-collapse: collapse;
    padding: 15px;
    height: 100vh;
}
table tr td{
    text-align: center;
    font-weight: 450;
    padding: 10px;
    border: 2.5px solid black;
    color: darkblue;
    font-size: 20px;
    margin: auto; /* Center the table horizontally */
    width: 60%; /* Adjust the width as needed */
    padding: 20px; /* Add padding if desired */

}
/* table{
    margin-left: 60px;
} */
table .head td{
    font-weight: bolder;
    font-size: 30px;
}
.Contact{
    background-color: darkgray;
    padding:0px;
}
.Contact p{
    padding: 15px;
}
.table{
    margin: 0 auto; /* Center the table horizontally */
    width: 60%; /* Adjust the width as needed */
    padding: 20px; /* Add padding if desired */
}
.products{
    background-color: azure;
}
img{
    width: 600px;
    height: 400px;
    margin:7px;
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.home{
    background-color: rgb(204, 226, 226);
}
a{
    text-decoration: none;
    color: bisque;
}
h1{
    text-align: center;
    text-decoration: underline;
    text-shadow: 50px;
}